
div{

    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:18px;
    width: 100vw; 

}

header{
    
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width:98vw;
    height: 108px;
}

button {
 
    background-color:transparent;
    /* border:none; */
    font-size:18px;
    cursor: pointer;
}
a{
    color: green;
    text-decoration:none;
    cursor: pointer;
}
.purple{
    color:purple;
}

.view {
    width: 50vw;
    object-fit: contain;
    border: 3px solid black;
    margin-top:22px;
    overflow-x:auto;
    padding: 6px;
    cursor:pointer; 
    overflow:hidden;
  }
